In [1]:
import pandas as pd
import geopandas as gpd

In [9]:
#pull our pdew data and the geospatial dataframe pulled from the PDEW_eda script with city locations
all_pdew = pd.read_csv('C:\\Users\\olubl\\OneDrive\\14th grade\\PDEW_Predict\\all_pdew_renamed.csv')
all_pdew = all_pdew[['city1','city2','nsmiles','passengers','fare','carrier_lg']]
all_cities_geo = gpd.read_file('C:\\Users\\olubl\\OneDrive\\14th grade\\PDEW_Predict\\city_coords.geojson')

In [10]:
all_pdew.head() #our pdew counts by city pairs.

           city1          city2  nsmiles  passengers    fare carrier_lg
0  Allentown, PA     Dallas, TX     1307          18  367.69         AA
1  Allentown, PA     Denver, CO     1539          89  138.60         G4
2  Allentown, PA    Atlanta, GA      692         107  319.69         DL
3  Allentown, PA     Austin, TX     1441          13  256.48         AA
4  Allentown, PA  Nashville, TN      685          46  130.88         G4

In [38]:
all_cities_geo.head() #the rough geometry of each citymarket

        cityname                geometry
0  Allentown, PA  POINT (-75.471 40.602)
1     Dallas, TX  POINT (-96.797 32.776)
2     Denver, CO  POINT (-104.98 39.739)
3    Atlanta, GA   POINT (-84.39 33.754)
4     Austin, TX  POINT (-97.744 30.271)

In [11]:
#descriptive stats for each numeric column
all_pdew.describe()

           nsmiles    passengers         fare
count  6611.000000   6611.000000  6611.000000
mean   1091.091514    203.439873   282.530593
std     584.066684    688.511938    79.852923
min      70.000000     10.000000    56.470000
25%     637.000000     18.000000   239.730000
50%     964.000000     36.000000   281.650000
75%    1471.000000    112.000000   327.310000
max    2783.000000  16339.000000   705.010000

In [ ]:
#as one of the features of our model will be catchment population for each citymarket, we need to pull this data.
#for the sake of this model, we can use the population around a point within fifty miles from each citymarket.
all_cities_geo['geometry'].buffer()

In [36]:
#now we can get additional columns "city1_pop" and "city2_pop" showing the population around each coordinate
geo_map = all_cities_geo.set_index('cityname')['geometry'].to_dict() #to do the mapping we need to make "cityname" be the indexing value.
all_pdew['city1_geo'] = all_pdew['city1'].map(geo_map)
all_pdew['city2_geo'] = all_pdew['city2'].map(geo_map)

In [37]:
all_pdew.head()

,city1,city2,nsmiles,passengers,fare,carrier_lg,city1_geo,city2_geo
0,"Allentown, PA","Dallas, TX",1307,18,367.69,AA,POINT (-75.4712794 40.6022059),POINT (-96.7968559 32.7762719)
1,"Allentown, PA","Denver, CO",1539,89,138.60,G4,POINT (-75.4712794 40.6022059),POINT (-104.984862 39.7392364)
2,"Allentown, PA","Atlanta, GA",692,107,319.69,DL,POINT (-75.4712794 40.6022059),POINT (-84.38981510000001 33.7544657)
3,"Allentown, PA","Austin, TX",1441,13,256.48,AA,POINT (-75.4712794 40.6022059),POINT (-97.74369950000001 30.2711286)
4,"Allentown, PA","Nashville, TN",685,46,130.88,G4,POINT (-75.4712794 40.6022059),POINT (-86.77429840000001 36.1622767)

In [ ]:
#feature engineering with population gravity (log(city1 * city2))

In [ ]:
#baseline regression - gravity based

In [35]:
all_cities_geo.set_index('cityname')['geometry']

cityname
Allentown, PA         POINT (-75.471 40.602)
Dallas, TX            POINT (-96.797 32.776)
Denver, CO            POINT (-104.98 39.739)
Atlanta, GA            POINT (-84.39 33.754)
Austin, TX            POINT (-97.744 30.271)
                               ...
Toledo, OH            POINT (-83.538 41.653)
Everett, WA           POINT (-122.21 47.979)
Greenville, NC        POINT (-77.372 35.613)
Portsmouth, NH         POINT (-70.76 43.075)
San Bernardino, CA    POINT (-116.08 34.825)
Name: geometry, Length: 274, dtype: geometry